<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3 style="text-align: center;">Edit your listing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=PATCH" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter a valid title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" rows="5" cols="20" class="form-control" required><%=listing.description%></textarea>
                    <div class="valid-feedback">Description looks good!</div>
                    <div class="invalid-feedback">Please enter a valid description</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Original image</label><br>
                    <img src="<%=listing.image.url%>" height="200px" width="300px">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" value="<%=listing.image%>" type="file" class="form-control">
                    <div class="valid-feedback">Image valid!</div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input name="listing[category]" type="text" class="form-control" value="<%=listing.category%>">
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="number" value="<%=listing.price%>" class="form-control" required>
                        <div class="valid-feedback">Price valid!</div>
                        <div class="invalid-feedback">Please enter a valid Price</div>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" type="text" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid country name</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" type="text" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid location</div>
                </div>
            </div>
        </div>
        <div style="text-align: center;" class="mb-3">
            <button class="btn btn-dark">Edit</button>
        </div>
    </form>
</body>
